Source: sdl-jstest
Section: utils
Priority: extra
Maintainer: Matthias S. Benkmann <matthias@winterdrache.de>
Build-Depends: debhelper (>= 9), libsdl2-dev, cmake, libncurses-dev
Standards-Version: 3.9.6
Homepage: https://github.com/mbenkmann/sdl-jstest
Vcs-Git: https://github.com/mbenkmann/sdl-jstest
Vcs-Browser: https://github.com/mbenkmann/sdl-jstest

Package: sdl-jstest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple joystick tester for SDL
 sdl-jstest is a simple program that lets you find out how many
 joysticks SDL detected on your system, how many axes, buttons, hats
 and balls they have each. It also lets you test the joysticks by
 displaying the events they send or by displaying their current button,
 axis, hat or ball state. sdl-jstest is especially useful if you want
 to test your SDL_LINUX_JOYSTICK configuration.
